@tailwind base;

@tailwind components;

@tailwind utilities;

.btn {
    @apply text-white font-bold py-2 px-4 border-b-4 border-blue-700 rounded
}

.btn--blue {
    @apply bg-blue-500 
}

.btn--blue:hover {
    @apply bg-blue-700
}

.color-pill {
    @apply h-12 w-12 rounded-lg shadow-inner mr-2 p-4 cursor-pointer
}

.color-pill:hover {
    @apply h-12 w-12 rounded-lg shadow-outline mr-2 p-4 cursor-pointer
}

.color-pill--selected {
    @apply h-12 w-12 rounded-lg shadow-outline mr-2 p-4
}

.board {
    position: absolute;
    width: 30rem;
    border: 1px solid black;
}

.board--clean {
    border: none;
}

.board div.board-box {
    @apply border border-gray-400 w-12 h-12
}

.board--clean div.board-box {
    border: none;
    @apply w-12 h-12
}

.overlay {
    visibility: hidden;
    
    width: 30rem;
    height: 30rem;
    
    position: relative;
    top: 0;
    left: 0;
    
    z-index: 10;
    background-color: rgba(0,0,0,0.2);
}

.overlay--show {
    visibility: visible;
}

#capture {
    border: 1px solid black;
    width: 30.2rem;
    height: 30.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.empty-state {
    background-image: url('../assets/empty-state.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 7rem;
    height: 7rem;
}

.bg-gray {
    @apply bg-gray-400
}
.bg-red {
    @apply bg-red-500
}
.bg-orange {
    @apply bg-orange-400
}
.bg-yellow {
    @apply bg-yellow-500
}
.bg-green {
    @apply bg-green-400
}
.bg-teal {
    @apply bg-teal-500
}
.bg-blue {
    @apply bg-blue-400
}
.bg-indigo {
    @apply bg-indigo-500
}
.bg-purple {
    @apply bg-purple-400
}
.bg-pink {
    @apply bg-pink-500
}